<% layout("/layouts/boilerplate.ejs") %>
    <div class="row offset-2 mt-3">
        <!-- NOTE:enctype="multipart/form-data" is must for processing image data /upload and send to backend -->
        <form method="POST"   action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
            <div class="col-md-8 mb-5">
                <label for="title">TITLE:</label>
                <input type="text" name="title" class="form-control" required>
                <div class="invalid-feedback">Please enter the title</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-8 mb-5">
                <label for="title">DESCRIPTION:</label>
                <input type="text" name="description" class="form-control" required>
                <div class="invalid-feedback">Please enter the description</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <!-- NOTE:HERE TYPE IS NOW FILE SO AS TO UPLOADIMAGE -->
            <div class="col-md-8 mb-5">
                <label for="title">UPLOAD IMAGE:</label>
                <input type="file" name="image" class="form-control" placeholder="CHOOSE FILE">
                <div class="invalid-feedback">Image is Mandatory</div>
                <div class="valid-feedback">Looks good!</div>
            </div> 
            <div class="col-md-8 mb-5">
                <div class="row">
                    <div class="col-md-8">
                        <label for="price">PRICE:</label>
                        <input type="text" name="price" class="form-control" required>
                        <div class="invalid-feedback">Please enter the price</div>
                <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-4">
                        <label for="location">LOCATION:</label>
                    <input type="text" name="location" class="form-control" required>
                    <div class="invalid-feedback">Please enter the location</div>
                <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-5">
                <label for="title">COUNTRY:</label>
                <input type="text" name="country" class="form-control" required>
                <div class="invalid-feedback">Please enter the country</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="edit-btn btn btn-primary mb-3">
                CREATE
            </button>
        </form>
    </div>
